body{
    background: #ffcccc
   }
   
   .container{
     text-align: center;
     float: none;
     margin: 20px auto;
   }

h1{
    color: white; 
    margin-top: 200px; 
    margin-bottom: 50px; 
    text-align: center; 
    font-size: 300%;
}

h3{
    color: #a8d9f0;
    text-align: center;
}
